*{
    margin: 0%;
    padding: 0%;
 }
 html,body{
    width: 100%;
    height: 100%;
 }
 body{
    background-color: antiquewhite;
 }
 div{
     width: 50%;
    height: 50%;
 }
 #Box1{
    background-color: aqua;
 }
 #Box2{
    background-color: rgb(32, 221, 19);
 }