 *{
    margin: 0%;
    padding: 0%;
 }
 html,body{
    width: 100%;
    height: 100%;
 }
 h1 {
        margin: 0%;
        width: 50%;
        text-align: center;
        color: rgb(255, 0, 17); 
        background-color: aqua;
        }
p{
    color: chocolate;
}